server:
  port: 8081

spring:
  profiles:
    active: dev
  datasource:
    url: jdbc:mysql://localhost:3307/tutor_system?useUnicode=true&characterEncoding=UTF-8
    username: root
    password: admin123
  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: none
    show-sql: true
  servlet:
    multipart:
      max-file-size: 100MB
      max-request-size: 100MB
jwt:
  secret: ${JWT_SECRET:4t2vr+0kJ1GPtwu5WHT0c9m31ORxYgSdKJjDIP2jNSk=}
  issuer: TutorSystem
  access-expiration-seconds: 900
  refresh-expiration-seconds: 86400
  remember-refresh-expiration-days: 30